.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    height: 100vh;

    
    padding-top: 2%;
    box-sizing: border-box;

    position: relative;
    
    margin-left: 16%;
    border-left: 1px solid rgb(0 0 0 / 10%);
    border-right: 1px solid rgb(0 0 0 / 10%);
    margin-right: 8%;

    &__header-container {
        width: 432px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .border-left {
            height: 120px;
            width: 5px;
            background: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);
        }

        .header {
            font-family: PT Sans;
            font-size: 56px;
            font-weight: 700;
            line-height: 67px;
            letter-spacing: 0em;
            text-align: left;
            width: 353px;
            height: 134px;
            color: #42567A;

        }
    }

    &__years-container {

        // margin-left: 15%;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 973px;
        height: 393px;

        h1 {
            
            font-family: PT Sans;
            font-size: 200px;
            font-weight: 700;
            line-height: 160px;
            letter-spacing: -0.02em;
            text-align: center;
            width: 973px;
            height: 160px;
            color: #5D5FEF;
        }

        .start-year {
            color: #5D5FEF;
        }

        .end-year {
            color: #ef5da8;
        }
    }


    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-bottom: 31%;
        margin-top: 19.9%;
        left: 50%;
        transform: translate(-50%, 0%);
        
        &__circle {
            border: 1px solid rgb(0 0 0 / 20%);
            border-radius: 50%;
            width: 530px;
            height: 530px;
            transition: all 1s;

            font-family: PT Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;

            .item {
                width: 6px;
                height: 6px;
                position: absolute;
                left: calc(50% - 3px);
                top: calc(50% - 3px);
                display: flex;
                justify-content: center;
                align-items: center;

                &__wrapper {

                    .text{
                        
                        padding-left: 145px;

                        font-family: PT Sans;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
    
                        color: #42567A;
                        opacity: 0;
    
                        animation: appear 0.6s ease-in-out forwards;
                        animation-delay: 1s;
                    }
                    
                }
    
    
                &__circle {    
                    color: #42567A;
                    overflow: hidden;
                    width: 6px;
                    height: 6px;
                    background-color: #42567A;
                    border-radius: 50%;
                    position: absolute;
                    left: calc(50% - 0px);
                    top: calc(50% - 0px);
                    border: 1px solid #303E5880;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 10;
                    transform: translate(-50%, -50%);
                    transition: width 0.5s, height 0.5s;
                    cursor: pointer;
        
                    &-active, &:hover {
                        width: 56px;
                        height: 56px;
                        background-color: #F4F5F9;
                    }
                }
            }
        }

        &__pagination {
            display: none;
            justify-content: space-between;
            
            width: 86px;
            
            .item {
                color: #42567A;
                width: 6px;
                height: 6px;
                background-color: #42567A;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                transition: width 0.5s, height 0.5s;
                cursor: pointer;
                opacity: 0.5;
                
                &-active, &:hover {
                    opacity: 1;
                }
            }

        }

    }


    &__counter {
        
        text-align: start;
        width: 120px;
        height: 88px;
        margin-left: 80px;

        
        font-family: PT Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        
        .buttons-container {
            display: flex;
    
            gap: 20px;
            margin-top: 20px;
    
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
    
                width: 50px;
                height: 50px;
                
                border: 1px solid rgba(66, 86, 122, 0.5);
                border-radius: 50%;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            
                &-left {
                    transform: rotateZ(0deg);
                }

                &:disabled,
                &[disabled]{
                    opacity: 0.5;
                }
            }
        }
    }

    .axis {
        position: absolute;
        background-color: #42567A;
        opacity: 0.1;

        &-y {
            height: 100vh;
            width: 1px;
            left: 50%;
        }

        &-x{
            width: 100vw;
            height: 1px;
            top: 44%;
        }
    }

}

@media screen and (max-width: 420px) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        box-sizing: border-box;
        border: none;
        margin: 0;
        padding-left: 20px;
        padding-top: 57px;
    
        position: relative;
    
        &__header-container {    
            height: 48px;
            width: 123px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .border-left {
                display: none;
            }
    
            .header {
                font-family: PT Sans;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                height: 48px;
                width: 123px;
                border-radius: nullpx;
                
                color: #42567A;
    
            }
        }
    
        &__years-container {            
            height: 73px;
            width: 273px;
            margin: 0;    
            padding-top: 56px;
    
            h1 {
                // text-align: center;
                font-family: PT Sans;
                font-size: 56px;
                font-weight: 700;
                line-height: 72px;
                letter-spacing: -0.02em;
                height: 73px;
                width: 273px;

            }

            .start-year {
                text-align: start;
            }

            .end-year {
                text-align: end;
            }
        }
    
    
        .circle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            margin: 0;
            left: 50%;
            
            &__circle {
                border: none;
                display: none;
                 
                .item {
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    left: calc(50% - 3px);
                    top: calc(50% - 3px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    .text{
                        display: none;
                    }
        
                    &__circle {    
                        color: #42567A;
                        overflow: hidden;
                        width: 6px;
                        height: 6px;
                        background-color: #42567A;
                        border-radius: 50%;
                        position: absolute;
                        left: calc(50% - 0px);
                        top: calc(50% - 0px);
                        border: 1px solid #303E5880;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        opacity: 0.4;
            
                        &-active, &:hover {
                            width: 6px;
                            height: 6px;
                            opacity: 1;
                            background-color: #42567A;;
                        }
                    }
                }
            }

            &__pagination {
                display: flex;
                
                bottom: 32px;
                position: absolute;

                .item {
                    display: flex;
                    border: none;
                }
            }
    
        }
    
    
        &__counter {

            position: absolute;

            bottom: 13px;
            
            width: 58.33px;
            height: 49.67px;
            text-align: start;
            margin: 0px;   
            
            font-family: PT Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;

            .text {
                width: 41px;
                height: 14px;
                left: 20.17px;
                top: 505px;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #42567A;
            }
            
            .buttons-container {
                display: flex;
        
                gap: 8.3px;
                margin-top: 10.67px;
        
                .button {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    width: 25px;
                    height: 25px;
                    
                    border: 1px solid rgba(66, 86, 122, 0.5);
                    border-radius: 50%;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                
                    &-left {
                        transform: rotateZ(0deg);
                    }

                    svg {
                        height: 6.25px;
                    }
    
                    &:disabled,
                    &[disabled]{
                        opacity: 0.5;
                    }
                }
            }
        }
    
        .axis {
            position: absolute;
            background-color: #42567A;
            opacity: 0.1;
    
            &-y {
                display: none;
            }
    
            &-x{
                width: 280px;
                height: 1px;
                top: 51%;
            }
        }
    
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

