.slider {
    display: flex;
    align-items: center;    
    
    max-width: 100%;
    padding-top: 56px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 40px;

        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);

        &-right {
            transform: rotateZ(180deg);
        }
    }
}

.element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    cursor: grab;

    width: 320px;

    &__header {
        margin-bottom: 15px;
        color: #3877EE;
        
        font-family: Bebas Neue;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__text {
        padding: 0;
        margin: 0;
        height: 90px;
        text-align: start;
        color: #42567A;

        
        font-family: PT Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
}




@media screen and (max-width: 330px) {
    .slider {
        display: flex;
        align-items: center;    
        
        max-width: 100%;
        padding-top: 56px;
    
        &__button {
            display: none;
    
            &-right {
                transform: rotateZ(180deg);
            }
        }
    }
    
    .element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        cursor: grab;
    
        width: 320px;
    
        &__header {
            width: 26px;
            height: 19px;
            left: 20px;
            top: 313px;

            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            text-transform: uppercase;

            color: #3877EE;
        }
    
        &__text {
            padding: 0;
            margin: 0;
            height: 80px;
            width: 166px;
            
            text-align: start;
            color: #42567A;
    
            
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
        }
    }
}