@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

#root {
  padding: 0;
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 330px) {
  #root {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }

  .App {
    width: 100%;
    border: none;
    overflow: none;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  background: #F4F5F9;

  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
}
